$primary-color: #28536B;
$secondary-color: #F7F7F2;
$accent-color1: #899878;
$accent-color2: #E4E6C3;
$text-color: #222725;
$font-family: Helvetica, Arial, sans-serif;
$font-weights: (
    "regular": 400, 
    "medium": 500,
    "bold": 700
);